<% layout("/layouts/boilerplate") %>
<%= success %>
<body>
  <h3>All Listings</h3>
  <!-- <form method="GET" action="/listings/new">
      <button> Create New Listing </button>
    </form> -->
  <ul>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% for (let listing of allListings) { %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
<div class="card">
      <img 
        src="<%= listing.image.url %>" 
        class="card-img-top" 
        alt="listing_image " 
        style="height: 20rem" />
        <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %></b><br>
  <%= listing.price ? listing.price.toLocaleString("en-IN") : "Not " %>
</li>
        </p>
        
      </div>
    </div>
<% } %>
    </a>
    
</div>

<!-- for button scrolling -->

<button id="scrollTopBtn">⬆️</button>
<button id="scrollBottomBtn">⬇️</button>

<script>
  const topBtn = document.getElementById("scrollTopBtn");
  const bottomBtn = document.getElementById("scrollBottomBtn");

  topBtn.onclick = () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth"
    });
  };

  bottomBtn.onclick = () => {
    window.scrollTo({
      top: document.body.scrollHeight,
      behavior: "smooth"
    });
  };
</script>

<!-- for button scrolling -->
 
</body>
